<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
	<% @tag.articles.each do |article| %>
		<li><%= link_to article.title, article_path(article) %></li>
	<% end %>
</ul>
<br/>
<% if logged_in? %>
	<!-- use link_to "click text", object_path(@object), method: :delete, data: {confirm: "You sure?"}  -->
	<%= link_to "Delete This Tag", tag_path(@tag), method: :delete, data: {confirm: "DELETE: Are you sure?"} %>
<% end %>
